<div id="<%= dom_id perk %>">
  <p>
    <strong>Title:</strong>
    <%= perk.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= perk.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= perk.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= perk.quantity %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= perk.project_id %>
  </p>

</div>
