<div id="<%= dom_id project %>">
  <p>
    <strong>Title:</strong>
    <%= project.title %>
  </p>

  <p>
    <strong>Donation goal:</strong>
    <%= project.donation_goal %>
  </p>

  <p>
    <strong>User:</strong>
    <%= project.user_id %>
  </p>

  <p>
    <strong>Current donation amount:</strong>
    <%= project.current_donation_amount %>
  </p>

  <p>
    <strong>Expires at:</strong>
    <%= project.expires_at %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= project.status %>
  </p>

  <p>
    <strong>Backings count:</strong>
    <%= project.backings_count %>
  </p>

</div>
